.content {
    height: 300px;
    width: 300px;

    background-color: rgb(134, 142, 255);
    color: black;

    font-size: 23px;

    /* Margin and padding */
    /* 1 value of margin
    margin: top-right-bottom-left

    2 values of margin
    margin: top-bottom  right-left;

    4 values of margin
    margin: top  right  bottom  left; 
    */
    margin: 10px;
    padding: 10px;


    /* Border  */
    border-width: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
}