* {
    margin: 0;
    padding: 0;
}

.container {
    background-color: rgb(58, 58, 82);
    width: 100%;
    height: 760px;
}

img {
    height: 200px;
    width: 200px;
    animation-name: img;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    animation: img 2s ease-in-out infinite alternate-reverse;

    transform: rotate(360deg);
    transition: 3s;
}

@keyframes img {
    from {
        height: 400px;
        width: 400px;
        transform: rotate(0deg);
    }

    to {
        height: 1500px;
        width: 1500px;
        transform: rotate(360deg);
    }
}