.container {
    height: 600px;
    width: 100%;
    background-color: black;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    /* align-items: center; */
    align-content: center;
}

.box1 {
    height: 180px;
    width: 180px;
    background-color: rgb(204, 137, 137);
    border: 2px solid black;
    border-right: 1px solid black;
}

.box2 {
    height: 180px;
    width: 180px;
    background-color: rgb(137, 191, 204);
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.box3 {
    height: 180px;
    width: 180px;
    background-color: rgb(137, 204, 140);
    border: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.box4 {
    height: 180px;
    width: 180px;
    background-color: rgb(202, 137, 204);
    border: 2px solid black;
    border-left: 1px solid black;
}