* {
    margin: 0;
    padding: 0;
}


.list {
    background-color: rgb(9, 9, 83);
    color: rgb(255, 255, 255);

    height: 70px;
    display: flex;

    padding: 0px 0px 0px 763px;

}

.list1 {
    margin: 25px;

    list-style-type: none;
}

.content {
    background-color: rgb(156, 154, 248);
    color: black;

    height: 87.2vh;
    padding: 48px;    
}

.copy {
    background-color: black;
    color: darkseagreen;

    text-align: center;
}